
.form-control {
    background-color: rgba(255, 255, 255, 0.2);
}

.logo {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    opacity: 0.1;
    max-width: 100vw;
}

.table {
    margin: 10px;
    width: calc( 100% - 20px );
}

td:nth-child(2) {
    width: 100%;
}

.badge-dark {
    cursor: pointer;
}

@media ( max-device-width: 350px ){
    .table {
        margin: unset;
        width: 100%;
    }
}